<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_day03_uploadfiles_client:war exploded">
    <output-path>$PROJECT_DIR$/target/springmvc_day03_uploadfiles_client</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springmvc_day03_uploadfiles_client</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc_day03_uploadfiles_client" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:3.0-alpha-1" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.2.1-b03" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.10.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.10.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.10.2" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.4" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.6" />
          <element id="library" level="project" name="Maven: com.sun.jersey:jersey-core:1.19.4" />
          <element id="library" level="project" name="Maven: javax.ws.rs:jsr311-api:1.1.1" />
          <element id="library" level="project" name="Maven: com.sun.jersey:jersey-client:1.19.4" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-catalina:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-servlet-api:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jsp-api:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-el-api:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-juli:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-annotations-api:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-api:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jni:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-coyote:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-util:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-util-scan:9.0.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jaspic-api:9.0.31" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springmvc_day03_uploadfiles_client/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvc_day03_uploadfiles_client/web/Web" />
    </root>
  </artifact>
</component>